.button {
  border: none;
  box-shadow: none;
  background: none;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  border: 0.1rem solid transparent;
}

.button:hover {
  border-color: #d0d7de;
}

.button:disabled {
  color: #8c959f;
}
.button:disabled:hover {
  border: none;
}

.quickButton {
  color: #0969da;
}

.quickButton:hover {
  border: 0.1rem solid #d0d7de;
}

.selected {
  background: #0969da;
  color: #ffffff;
  border: none;
}
.blueButton {
  color: #0969da;
}
